<div class="container-fluid">
    <div class="container d-flex justify-content-between">
        <div>
            <h1 class="" style="font-size: 1.4vw; color: rgb(255, 251, 251); font-family: 'Merienda', cursive; text-shadow: 2px,2px,3px black;">Created</h1>
            <p style="font-size: 0.7vw; color: rgb(255, 255, 255); font-family: 'Kaushan Script', cursive; text-shadow: 2px,2px,3px;">by carbon</p>
        </div>
        <div>
            <h1 style="font-size: 1.4vw; color: rgb(255, 251, 251); font-family: 'Merienda', cursive; text-shadow: 2px,2px,3px black;">Word for word </h1>
            <p style="font-size: 0.7vw; color: rgb(255, 255, 255); font-family: 'Kaushan Script', cursive; text-shadow: 2px,2px,3px black;">Your voice matters</p>
        </div>
    </div>
    <div class="container">
        <h1 class="text-center" style="font-size: 4vw; color: aliceblue; font-family: 'Merienda', cursive; text-shadow: 2px 2px 3px black;">Welcome to Quotes</h1>
    </div>
</div>


<app-quote-detail></app-quote-detail>
<!-- <app-quote></app-quote> -->

